* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; }

body {
  font-size: 16px;
  font-family: "Microsoft Yahei", "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100vw;
  height: 100vh; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.x-ad-btn-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #4FC3F7;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #fff; }
